*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 2rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}



button{
  padding: 10px;
  background-color: #282c34;
  color: yellow;
  box-shadow: 1px 1px 1px #ccc;
  cursor: pointer;
   font-size: 1rem;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 1.3rem;
}

ul{
  padding: 10px;
}


.error{
  color: red;
  margin-left: -6rem;
  transition: all .2s;
}

.error.active{
  transform: translateX(6rem)
}